:root {
    --corners: 0.5rem;
    --heading-size: 1.5rem;
    --theme-color: #dc4d3f;
    --heading-color: #ffece8;
    --background-color: #fafafa;
    --border: 0.05rem solid rgb(211, 211, 211);
    --big-text-color: rgb(211, 211, 211);
}

* {
    box-sizing: border-box;
    font-size: 1em;
    margin: 0;
    padding: 0;
}
body {

    margin: 0;
    padding: 0;
    font-family:Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    height: 98vh;
    margin: 1rem 2rem 0 2rem;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 5vh repeat(11, 1fr);
    border-end-end-radius: var(--corners);
}
/* CSS for Menu */
#menu {
    position: relative;
    grid-column: 1/5;
    grid-row: 2/13;
    border-right: var(--border);
    border-left: var(--border);
    background-color: var(--background-color);
}

.navigation-link {
    padding: 1rem 15%;
    width: 100%;
    display: block;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
    
}

.navigation-link:hover {
    background-color: #efefef;
}

#contact-div {
    width: 100%;
    bottom: 2rem;
    position: absolute;
}

#contact-links-div {
    width: 100%;
    padding: 1rem;
    display: flex;
    
    text-align: center;
    justify-content: space-around;

}

.contact-link {
    width: 2rem;
    height: 2rem;
}

a {
    color: black;
    text-decoration: none;
  }
#gmail-logo:hover {
content: url(./assets/gmail.svg);
width: 2rem;
height: 2rem;
}
#telegram-logo:hover {
    fill:#0088cc;
}

#github-logo:hover {
    fill:#6e5494;
}

#discord-logo:hover {
    fill:#7289da;
}

/*      Main CSS         */
#content {
    grid-column: 5/21;
    grid-row: 2;
    grid-row-end: auto;
    border-right: var(--border);
}
#View {
    margin: 0 2rem 3rem 2rem;
}

.checkbox {
    width: 5%;
}



/*      Control CSS      */
#Control {
    grid-row: 1;
    grid-column: 1/21;
    display: flex;
    align-items: center;
    padding: 0;
    background-color: var(--theme-color);
    border-top-left-radius: var(--corners);
    border-top-right-radius: var(--corners);
    text-align: center;
    color: var(--heading-color);
    font-size: var(--heading-size);
    justify-content: space-evenly;
}


/*      Priority Selector CSS        */
#selector-span {
    display: flex;
    align-items: center;
}

#priority-selector {
    font-size: 2rem;
    text-align: left;
    appearance: none;
    border: none;
    background-color: transparent;
}
#priority-selector:focus {
    border: none;
}

#selector-svg {
    width: 2rem;
    height: 2rem;
}

/*       Text-Input CSS         */
#input-span {
    position: relative;
}

#text-input{
    color:  white;
    background: none;
    font-family: inherit;
    border-style: none;
}

#text-input::placeholder{
    color: white;
}

.no-outline:focus {
    background-color: transparent;
    outline: none;
    border-style: none;
}

#add-button {
    margin: auto 0;
    background-color: transparent;
    border:none;
    top:0.005rem;
    right: 0rem;
}
/*      Delete All button by CSS         */
#delete-all-button{
    grid-column: 1/4;
}
/*      Sort Button CSS         */
#sort-button {
    width: 2rem;
    height: 2rem;
    right: 1rem;
    top: 3rem;
    filter: brightness(30%);
}

/*      Keyboard Mode CSS        */
#command-input {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 2rem;
    grid-column: 1/4;
    grid-row: 12;
    border: none;
    font-size: 3rem;
    opacity: 30%;
    background-clip: text;
    background: -webkit-linear-gradient(right, #eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#command-input:focus {
    background: none;
    -webkit-text-fill-color:black;
    opacity: 100%;
}
.keyset {
    display: inline-block;
    padding: 1rem;
    margin-left: 2rem;
}
#keyboard-mode-header {
    display: flex;
    justify-content: center;
    font-size: var(--heading-size);
}
#keyboard-mode-content {
    display: flex;
    padding: 2rem 0;
    flex-direction: column;
    align-content: space-around;
}

#keyboard-mode-keyset {
    position: fixed;
    top:  15%;
    left:  15%;
    width: 70%;
    height: 70%;
    background-color: var(--theme-color);
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    box-shadow: 0 2rem 3rem black;
}



/*      Navigator CSS        */
#navigator-container {
    grid-column: 5/21;
    grid-row: 2;
    margin: 1rem 0;
    border-right: var(--border);
    padding-left: 4rem;
    font-size: 4rem;
    opacity: 10%;
    font-weight: bold;
}

/*      counter CSS      */
.counter {
    color: var(--big-text-color);
    padding-left: 0.5rem;
}

.todo-container {
    padding: 1rem;
    border-bottom: var(--border);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.todo-container:hover {
    background-color:#dc4c3f7a;
    border: var(--border);
}

.todo-text {
    display: inline-block;
    width: 50%;
    
}
.todo-priority {
    display: inline-block;
    
}
.todo-date {
    display: inline-block;
    
}

.delete-button::before {
    content:url(./assets/unitrash.svg);
    width: 10%;
}

hr {
    width: 90%;
    margin: 0 auto;
}
